.text-email{
    text-align: center;
    padding-top: 7%;
    color: #583101;
  }

h3{
    padding-top: 7%;
    color: #583101;
    text-align: center;
}


.reading-character{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.brand-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7em;
    padding: 0 2rem;
}

.login-style{
    margin-left: 55%;
    margin-top: 100px;
}

body{
    margin: 0;
}
.container-profile{
    margin-left: 3%;
    max-width: 300px;
    float: left;
}
nav{
    background:linear-gradient(30deg, #603813,#84654B, #8C6F58, #9F8776, #B29F94);
    height: 80px;
    text-align: center;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: #FFF6EC;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #hamburger,
label #cross{
    color: #FFEDD8;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check-and-uncheck{
    display: none;
}
.general-position{
    bottom: 50%;
}

.general-position-dos{
    width: 200px;
}

.post{
    width: 63%;
    height: 210px;
    background: #FFFFFF;
    border: 2px solid rgba(118, 88, 52, 0.53);
    padding: 10px;
    margin-left: 26%;
    margin-top: 4%;
    border-radius: 5px;
    }

.share-post{
    width:63%;
    background: #FFFFFF;
    border: 2px solid rgba(118, 88, 52, 0.53);
    margin-left: 26%;
    margin-top: 4%;;
    border-radius: 5px;
    
}
#btn-share{
    float: right;
}
.general-position-dos{
    position:absolute;
    width:600px;
    height:210px;
    background: red ;
    padding: 10px;
}
#text-post{
    outline:none;
    border-top: 2px solid rgba(118, 88, 52, 0.53);
    border-bottom: 2px solid rgba(118, 88, 52, 0.53); 
    background:#FFFFFF;
    resize: none;
    position: relative;
    height: 110px; 
    margin-bottom: 1%;
}

i{
    color: #816036;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 1%;
}

.btn-send-comment{
    border: 0;
    background: none;
    color: #816036;
    float: right;
    margin: 10px;
}

.file{
    position: absolute;
    display: none;
}
.space{
    background: linear-gradient(30deg, #ADFF2F,#7FFF00, #7CFC00, #00FF00, #32CD32);
    color: black;
    padding: 4px;
    width: 90px;
    border-radius: 50px;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);

}
.textarea{
    border: 2px solid rgba(118, 88, 52, 0.53);
    background: #FFFFFF;
    height: 110px;
    margin: 1%;
    width: 97%;
    /*margin-top: 4%;*/
    outline: none;
    resize: none;
    text-align: center;
    border-radius: 5px;
    color: #765834;
    font-size: 20px;
}
.comment-post{
    border: 0;
    outline: none;
    height: 35px;
    width: 60%;
    resize: none;
    margin-top: 6px;
    margin-left: 10px;
    padding-top: 8px;
    padding-left: 5px;
}
.ellipsis{
    float: right;
    margin-top: -50px;
}

#options{
    position: relative;
    width: 50px;
    left: -50px;
    opacity: 0.0;
}

#options::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.name-user{
    color: #583101;
    padding: 19px;

}
.plane{
    align-self: flex-start;
}

.hidden{
    display: none;
}
.title{
    font-size: 30px;
    width: 400px;
    margin-left: 90%;
    padding-top: 4%;
    color: #FFF6EC;
}
.title-leaders-readers{
    width: 40%;
    height: 0%;
}
.container-user{
    background: #FFF6EC;
    border-radius: 5px;
}
.show{
    display: block;
}

#accept{
    width: 100px;
    float: right;
    border: none;
    background: #FFFFFF;
}