.light-bulb{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.bulb-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7em;
    padding: 0 2rem;
}

.login-style{
    margin-left: 400px;
    margin-top: 100px;
}

body{
    margin: 0;
}
.container-profile{
    margin-left: 3%;
    max-width: 300px;
    float: left;
}
nav{
    background:linear-gradient(30deg, #ADFF2F,#7FFF00, #7CFC00, #00FF00, #32CD32);
    height: 80px;
    text-align: center;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #hamburger,
label #cross{
    color: black;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check-and-uncheck{
    display: none;
}
.general-position{
    bottom: 50%;
}

.general-position-dos{
    width: 200px;
}

.post{
    width: 63%;
    height: 210px;
    background: #C1CED0;
    padding: 10px;
    margin-left: 26%;
    margin-top: 4%;
    }

.share-post{
    width:63%;
    background: #C1CED0 ;
    padding: 10px;
    margin-left: 26%;
    margin-top: 4%;;
    border-radius: 30px;
    
}
#btn-share{
    float: right;
}
.general-position-dos{
    position:absolute;
    width:600px;
    height:210px;
    background: red ;
    padding: 10px;
}
#text-post{
    outline:none;
    border:rgb(83, 78, 78);
    background:#e9f0f2;
    resize: none;
    position: relative;
    height: 110px;
    margin: 1%;
    
}

i{
    color: #006400;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.file{
    position: absolute;
    display: none;
}
.space{
    background: linear-gradient(30deg, #ADFF2F,#7FFF00, #7CFC00, #00FF00, #32CD32);
    color: black;
    padding: 4px;
    width: 90px;
    border-radius: 50px;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);

}
.textarea{
    border: rgb(83, 78, 78);
    background: #e9f0f2;
    height: 110px;
    margin: 1%;
    width: 97%;
    margin-top: 4%;
    outline: none;
    resize: none;
    text-align: center;
}
.ellipsis{
    float: right;
    margin-top: -50px;
}

#options{
    position: relative;
    width: 50px;
    left: -50px;
    opacity: 0.0;
}

#options::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.name-user{
    color: #393939;
    padding: 10px;

}
.plane{
    align-self: flex-start;
}

.hidden{
    display: none;
}
.title{
    font-size: 30px;
    width: 400px;
    margin-left: 90%;
    padding-top: 4%;
}
.title-energy{
    width: 40%;
    height: 0%;
}
.container-user{
    background: linear-gradient(30deg, #ADFF2F,#7FFF00, #7CFC00, #00FF00, #32CD32);
    border-radius: 20px;
}
.show{
    display: block;
}

#accept{
    width: 100px;
    float: right;
    border: none;
}