.light-bulb{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.bulb-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7em;
    padding: 0 2rem;
}

.login-style{
    margin-left: 400px;
    margin-top: 100px;
}

body{
    margin: 0;
}
.container-profile{
    margin-left: 3%;
    max-width: 300px;
    float: left;
}
nav{
background: #EDF1ED;
height: 80px;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: green;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #hamburger,
label #cross{
    color: green;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check-and-uncheck{
    display: none;
}
.general-position{
    bottom: 50%;
}

.general-position-dos{
    width: 200px;
}

.post{
    width: 63%;
    height: 210px;
    background: #C1CED0;
    padding: 10px;
    margin-left: 26%;
    margin-top: 4%;
    }

#share-post{
    width:63%;
    background: #C1CED0 ;
    padding: 10px;
    margin-left: 26%;
    margin-top: 4%;;
    
}
#btn-share{
    float: right;
}
.general-position-dos{
    position:absolute;
    width:600px;
    height:210px;
    background: red ;
    padding: 10px;
}
#text-post{
    outline:none;
    border:rgb(83, 78, 78);
    background:#e9f0f2;
    resize: none;
    position: relative;
    height: 110px;
    margin: 1%;
    
}

i{
    color: green;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.file{
    position: absolute;
    display: none;
}
.space{
    background: green;
    color: #fff;
    padding: 4px;
    width: 90px;
    border-radius: 50px;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);

}
.textarea{
    border: rgb(83, 78, 78);
    background: #e9f0f2;
    height: 110px;
    margin: 1%;
    width: 97%;
    margin-top: 4%;
    outline: none;
    resize: none;
}
.ellipsis{
    float: right;
}
#options{
    position: relative;
    width: 20px;
    left: -25px;
    opacity: 0.0;
}
#options::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
#name-user{
    color: #393939;
    padding: 10px;

}
.plane{
    align-self: flex-start;
}