* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  margin-top: 5%;
  text-align: center;
  color: #583101;
  font-size: 30px;
}
.user-image {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 100px;
}
.user-image-post{
width: 50px;
border-radius: 50%;
float: left;
margin: 5px;
}
.user-image-comment {
  width: 35px;
  border-radius: 50%;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
}

.reading-logo-mobile {
  margin: auto;
  display: none;
}
.logo-mobile{
  display: flex;
}


#alert-txt-email,
#alert-txt-password {
  color: red;
  padding-top: 0%;
}

form {
  margin: auto;
  width: 70%;
  max-width: 500px;
  padding: 10px;
}

.input {
  color: #765834;
  display: block;
  padding: 10px;
  width: 100%;
  margin: 8px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #FFF6EC;
  font-size: 16px;
}

.login-form {
  display: block;
}

.btn-login {
  color: #FFF6EC;
  border: 0;
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 100%;
  margin: 12px 0;
  text-align: center;
  border-radius: 50px;
  background: #765834;
  font-size: 20px;
}

.btn-google {
  display: block;
  text-align: center;
  margin: auto;
}

.btn-image-google {
  border: transparent;
  background: none;
}

.back-arrow{
  border: transparent;
  background: none;
}

p {
  text-align: center;
  padding-top: 2%;
  margin: revert;
  color: #583101;
  font-size: 20px;
}

.btn-register {
  text-decoration: none;
  color: #583101;
  font-size: 18px;
  font-weight: bold;
}

/*Register Template*/

.signup-form {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 30px 0 40px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #FFF6EC;
  font-size: 16px;
}

.submit-form {
  color: #FFF6EC;
  cursor: pointer;
  display: block;
  padding: 10px 0;
  width: 100%;
  margin: 80px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #765834;
  font-size: 24px;
  font-weight: bold;
}

