* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  margin-top: 5%;
  text-align: center;
  color: #7FFF00;
  font-size: 30px;
}
.user-image {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 100px;
}
.light-bulb-mobile {
  margin: auto;
  display: none;
}
.bulb-mobile{
  display: flex;
}

h3 {
  text-align: center;
  padding-top: 7%;
}
#alert-txt-email,
#alert-txt-password {
  color: red;
  padding-top: 0%;
}

form {
  margin: auto;
  width: 70%;
  max-width: 500px;
  padding: 10px;
}

.input {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 8px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #f3f3f3;
  font-size: 16px;
}

.login-form {
  display: block;
}

.btn-login {
  color: black;
  border: 0;
  cursor: pointer;
  opacity: 0.8;
  display: block;
  padding: 10px;
  width: 100%;
  margin: 12px 0;
  text-align: center;
  border-radius: 50px;
  background: #71e171;
  font-size: 16px;
}

.btn-google-facebook {
  display: block;
  text-align: center;
  margin: auto;
}

.btn-image {
  border: transparent;
  background: none;
}
p {
  text-align: center;
  padding-top: 2%;
  margin: revert;
}

.btn-register {
  text-decoration: none;
}

/*Register Template*/

.signup-form {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 30px 0 40px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #f3f3f3;
  font-size: 16px;
}

.submit-form {
  color: black;
  cursor: pointer;
  opacity: 0.8;
  display: block;
  padding: 10px 0;
  width: 100%;
  margin: 80px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #6fcf97;
  font-size: 20px;
}

