@media screen and (max-width: 900px){
    .light-bulb{
        display: none;
    }
    .light-bulb-mobile{
        display: block;
    }
    .login-style{
        margin-left: 0px;
    }
    body{
        background: white;
    }
    label #hamburger{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check-and-uncheck:checked ~ ul{
        left:0;
    }
    #check-and-uncheck:checked ~ label #hamburger{
        display: none;
    }
    #check-and-uncheck:checked ~ label #cross{
        display: block;
    }
    .container-profile{
        display: contents;
    }

    
}
@media screem and (max-width: 1000px){
    form{
        width: 290px;
    }
    nav ul li a{
        font-size: 17px;
    }

}
